// Sets up some global rules
// that make styles more reasonable
// sets global border box
// and zeroes default padding/margining.
// explicit declarations on lines 19 - 21
// reset normalize. ¯\_(ツ)_/¯

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*,
fieldset,
figure,
h1 {
  margin: 0;
  padding: 0;
}
